numpy
pandas
Pillow
Pillow
pycocotools
pyzorder
scikit_learn
scipy
scikit-image
tabulate
tensorboardx
timm
tqdm
adeval
apex
einops
#faiss==1.5.3
fvcore
geomloss
#hilbert-toolkit==0.2.1
imgaug
#mamba_ssm==2.3.0
matplotlib
mmdet
numba
